---
layout: default
---
{% assign ordered_collections = site.collections | sort:"frontpageposition" %}
{% for collection in ordered_collections %}
{% unless collection.label == 'posts' %}
{% assign col = collection.label %}
<br />
<div style="margin-top: 70px; margin-left:10%;">
<h2><i>{{ collection.header }}</i></h2>
</div>

<div class="container">
  <div style="width:100%;">
    <div style="width:37%; float:left; margin-left:10%; margin-right:3%;">
    {% for post in site.[col] reversed %}
    
    <h3>
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h3>
        {{ post.excerpt }}
    {% break %}
    {% endfor %}
    </div>
    <div style="width:37%; float:right; margin-left:3%; margin-right:10%;">
    <img src="images/cheers.jpeg" />
    </div>
  </div>
</div>
<br />

  <div class="Table" style="width:80%; margin-left:10%; margin-right:10%; @include mobile {
    width: 100%;
  }">
{% for post in site.[col] reversed %}
{% if forloop.index > 1 %}
{% if forloop.index < 5 %}

    <div class="Cell" style="margin-left:3%; margin-right:3%;">    
    <h3>
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h3>    
<div class="vr">&nbsp;</div>
    </div>
{% endif %}
{% endif %}
    {% endfor %}
  </div>

{% endunless %}

{% endfor %}
