---
layout: default
---

{% assign ordered_collections = site.collections | sort:"frontpageposition" %}
{% for collection in ordered_collections %}
{% unless collection.label == 'posts' %}
{% assign col = collection.label %}
<div class="desktopfix">&nbsp;
</div>
<div class="collheader" style="background: #dddddd; width:80%;"><a id="{{ col }}">
<h2 style="color:#fd031a;"><i>{{ col | capitalize }} - {{ collection.header }}</i></h2></a>
</div>

<div class="container">
  <div style="width:100%;">
    
    {% for post in site.[col] reversed %}
    <div class="topstory">
    <h3>
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h3>
        {{ post.excerpt }}
</div>

   
    <div class="topimage">
    <img src="{{ site.baseurl }}images\{{ post.image }}" />
    </div>
    {% break %} 
   
    {% endfor %}
  </div>
</div>
<br />

<div class="Table">
{% for post in site.[col] reversed %}
{% if forloop.index > 1 %}
{% if forloop.index < 4 %}

      <div class="block">    
    <h3>
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h3>
      </div>

{% endif %}
{% if forloop.index == 4 %}

      <div class="block" style="margin-right:0;">    
    <h3>
    <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h3>
      </div>

{% endif %}
{% endif %}
    {% endfor %}
</div>
<br />
{% endunless %}
<br />
{% endfor %}
